.NewCollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom:100px;    
}
.NewCollections h1{
    font-size: 50px;
    font-weight: 600;
    color: #171717;
}
.NewCollections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    margin-top: 40px;
    gap: 10px;
}
.NewCollections img{
    width: 300px;
    margin-left: 20px;
}

@media (max-width: 1280px){
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;    
        margin-top: 40px;
        gap: 10px;
    }   
    .NewCollections h1{
        font-size: 40px;
    }
}

@media (max-width: 1024px){
    .collections{
        display: grid;
        grid-template-columns: 1fr 1fr ;    
        margin-top: 40px;
        gap: 10px;
    }   
}

@media (max-width: 650px){
    .collections{
        display: grid;
        grid-template-columns: 1fr  ;    
        margin-top: 40px;
        gap: 10px;
    }  
    .NewCollections h1{
        font-size: 30px;
    }
    .NewCollections{
        height: 550vh;
    }
}