* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ShopCategory {
  display: flex;
  flex-direction: column;
}
.bannerImage {
  width: 1300px;
  margin: 30px 100px;
}
.shopCategory-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopategory-indexSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1220px;
}
.shopategory-indexSort p {
  font-size: 16px;
  font-family: poppins;
}
.shopategory-indexSort span {
  font-weight: 600;
}
.shopCategory-sort {
  border: 1px solid #888;
  font-size: 16px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  gap: 7px;
}
.shopCategory-sort img {
  width: 12px;
  height: 12px;
}
.shopCategory-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  row-gap: 30px;
  width: 79%;
  margin: 20px 0px;
}
.loadMore-btn button {
  width: 200px;
  height: 60px;
  font-size: 22px;
  border-radius: 50px;
  border: 1px solid #888;
  color: #888;
  background-color: white;
  margin: 50px 0px;
}
.loadMore-btn button:hover {
  background: linear-gradient(0deg, #fde1ff, #e1ffea22 80%);
}

@media (max-width: 1280px) {
  .bannerImage {
    width: 1000px;
    margin: 20px 50px;
  }
  .shopategory-indexSort {
    width: 1000px;
  }
  .shopategory-indexSort p {
    font-size: 15px;
  }
  .shopCategory-products {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    width: 1000px;
    margin: 20px 0px;
  }
  .loadMore-btn button {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .bannerImage {
    width: 750px;
    margin: 20px 40px;
  }
  .shopategory-indexSort {
    width: 680px;
  }
  .shopategory-indexSort p {
    font-size: 15px;
  }
  .shopCategory-products {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    width: 680px;
    margin: 20px 0px;
  }
  .loadMore-btn button {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }
  .shopCategory-sort {
    font-size: 13px;
    width: 80px;
    height: 40px;
    gap: 7px;
  }
}

@media (max-width: 800px) {
  .bannerImage {
    width: 640px;
    margin: 20px 30px;
  }
  .shopategory-indexSort {
    width: 580px;
  }
  .shopCategory-products {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    width: 600px;
  }
}

@media (max-width: 600px) {
  .bannerImage {
    width: 500px;
    margin: 10px 10px;
  }
  .shopategory-indexSort {
    width: 550px;
  }
  .shopCategory-products {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    width: 580px;
  }
}

@media (max-width: 500px) {
    .bannerImage {
      width: 400px;
      margin: 10px 10px;
    }
    .shopategory-indexSort {
      width: 550px;
    }
    .shopCategory-products {
      grid-template-columns: 1fr;
      row-gap: 30px;
      width: 580px;
    }
  }
  
