.CartTotalDisplay{
    display: flex;
    flex-direction: row;
    margin: 0px 170px;
    gap: 100px;
    margin-bottom: 100px;    
}
.cartTotaldisplay-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cartTotaldisplay-left h2{
font-weight: 600;
margin: 30px 0px;
}
.left-div-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 400px;
    margin: 10px 0px;
}
.total-div{
    font-weight: 600;
}
.cartTotaldisplay-left button{
    border: none;
    background-color:#ff4141;
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 600;
    margin: 20px 0px;
    cursor: pointer;
}
.cartTotaldisplay-right{
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin-top: 30px;      
}
.cartTotaldisplay-right p{
    font-size: 14px;
}
.promocode-div{
    width: 400px;
    border: 1px solid black;
    height: 45px;
    display: flex;    
    justify-content: space-between;    
}
.promocode-div input{
    border: none;
    font-size: 16px;  
    width: 300px;  
}
.promocode-div button{
    width: 100px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media (max-width:1280px) {
    .CartTotalDisplay{
        margin: 0px 150px;
        gap: 80px;          
    }
}

@media (max-width:1028px) {
    .CartTotalDisplay{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 130px;
        gap: 50px;        
    }
}

@media (max-width:800px) {
    .CartTotalDisplay{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 100px;
        gap: 50px;        
    }
}

@media (max-width:500px){
    .CartTotalDisplay{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 80px;
        gap: 50px;        
    }
    .promocode-div{
        width: 300px;
    }
    .left-div-part{        
        gap: 100px;        
    }
    .cartTotaldisplay-left button{        
        width: 150px;
        height: 50px; 
        font-size: 10px;        
    }
    
}

@media (max-width:650px){
    .CartTotalDisplay{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 80px;
        gap: 50px;        
    }
    .promocode-div{
        width: 300px;
    }
    .left-div-part{        
        gap: 100px;        
    }
    .cartTotaldisplay-left button{        
        width: 150px;
        height: 50px; 
        font-size: 10px;        
    }
    
}